<div
  id="map"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-user_markers="<%= @user_markers.to_json %>"

></div>

<% @events.each do |event| %>
<h1> <%= link_to event.location_name, locals_event_path(event) %></h1>
<p>Where??</p>
<h2> <%= event.location_address %> </h2>
<p>When??</p>
<h2> <%= event.time.strftime("%H:%M") %> </h2>
<p>What??</p>
<h2> <%= event.event_description %></h2>
<% end %>
