<div class="container-fluid">
  <div class="show-bottom">
    <div class="row">
      <div class="col-xs-12">
        <div class="show-titles">

          <h1> <%= @event.location_name %></h1>
          <p> Where?? </p>
          <h2> <%= @event.location_address %></h2>
          <p> When?? </p>
          <h2> <%= @event.time.strftime("%H:%M") %></h2>
          <p> Details?? </p>
          <h2> <%= @event.event_description %></h2>
          <p>Who is comming:</p>
          <h2> Organizer: <%= link_to @event.user.first_name, locals_event_user_path(id: @event.user.id, event_id: @event.id) %>(You)</h2>
          <%= link_to "see other events", locals_events_path %>
        </div>

      </div>
    </div>
  </div>
  <%= link_to "People around you", locals_event_users_path(@event), class: "btn-submit" %>
</div>
<%# link_to "Delete", destroy_locals_events_path,
method: :delete,
data: { confirm: "Are you sure?" } %>
