<% @messages.each do |message| %>


<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-11">
        <p class="card-text">
          <span class="text-muted">
            <%= message.timestamp %>
            <h1><%= message.request.event.location_name %></h1> <h2>  <%= message.user.first_name%> says: </h2>
            <h3><%= message.title %></h3>
             </span>

          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>

  <%= simple_form_for @message, url:  visitors_request_messages_path do |f| %>
  <%# raise %>

    <%= f.input :title %>

    <%= f.button :submit %>
  <% end %>

<%# message.user.first_name %>
