
<div
  id="map"
  style="width: 100%;
  height: 400px;"
  data-user_markers="<%= @user_markers.to_json %>"
  data-markers="<%= @markers.to_json %>"
></div>

<% @users.each do |user| %>
  <h1> <%= link_to user.first_name, locals_event_user_path(@event, user) %> </h1>
  <h2>Age: <%= user.age %> </h2>
  <h2>About: <%= user.dedication %></h2>
<% end %>
