<div class="show-bottom">
  <h1> <%= @user.first_name %> </h1>
  <h1> <%= @user.last_name %> </h1>
  <h2>Age: <%= @user.age %> </h2>
  <p>About: <%= @user.dedication %></p>
  <h2> <%= @user.email %> </h2>
  <p>Type of Music: <%= @user.typeofmusic %></p>
  <h2>About <%= @user.first_name %>: <%= @user.description %></h2>
</div>
<%= link_to "Back to Event", visitors_event_path(id: params[:event_id]), class: "btn-submit-black"  %>
