


<figure class="snip1208">
  <img src=" <%= @user.photo %>" alt="sample66"/>
  <div class="date"><span class="day"><%= @event.time.strftime("%H:%M") %></span><span class="month">Today</span></div><i class="ion-beer"></i>
  <figcaption>
    <h3><%= @user.first_name %></h3>
    <p><%= @user.last_name %></p>
    <p>Age: <%= @user.age %></p>
    <p><%= @user.dedication %></p>
    <p>Time in Berlin: <%= @user.stay %></p>
    <p> <%= @user.email %> </p>
    <p>Type of Music: <%= @user.typeofmusic %></p>
    <p>About <%= @user.first_name %>: <%= @user.description %></p>

  <button> <%= link_to "Back to Event", visitors_event_path(@event), class: "btn-submit-black" %></button>

</figure>



<!-- id: params[:event_id] -->
