<h1> <%= @event.location_name %> </h1>
<h2> <%= @event.location_address %> </h2>
<h2> <%= @event.time.strftime("%H:%M") %> </h2>
<h3> <%= @event.event_description %></h3>

<%= link_to "Join Request", locals_users_path %>
<%= link_to "Continue Looking", visitors_events_path %>


