<div
  id="map"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-user_markers="<%= @user_markers.to_json %>"

></div>



<figure class="snip1208">
<!-- Party Bar Restaurant Park Sport Shopping Sightseeing Homeless Coding -->
<%= render "locals/events/images" %>
  <div class="date"><span class="day"><%= @event.time.strftime("%H:%M") %></span><span class="month">Today</span></div><i class="ion-beer"></i>
  <figcaption>
    <h3><%= @event.location_name %></h3>
    <p><%= @event.location_address %></p>
    <p><%= @event.event_description %></p>
    <p>Who is comming: <%= link_to @event.user.first_name, visitors_event_user_path(@event.user.id, event_id: @event) %></p>
    <div class="continue-btn">
      <%= link_to "Continue Looking", visitors_events_path %>
    </div>
    <% if user_signed_in? %>
  <% if @request %>
<!--     I have already made a request
    In my DB, there is a request with my current user ID AND the event page I am right now ID
    @event.requests.where('requests.user_id = ?', current_user.id)
    Request.where(user_id: current_user.id, event_id: @event.id)
    Request.where(user: current_user, event: @event)
    I get redirected to the chat room -->

    <span><% @request.id  %></span>
    <button> <%= link_to "chat", visitors_request_messages_path(@request) %></button>
  <% else %>
    <%= simple_form_for Request.new, url: visitors_event_requests_path(@event) do |f| %>
      <%= f.input :user_id, as: :hidden, input_html: { value:  @user } %>
     <button><%= f.submit "Join the event!" %></button>
    <% end %>
  <% end %>
<% else %>
   <button> <%=  link_to "Sign In to Join the Event", new_user_session_path %></button>
<% end %>
</figure>





