<h1> Eventname: <%= @event.location_name %> </h1>
<h2> <%= @event.location_address %> </h2>
<h2> <%= @event.time.strftime("%H:%M") %> </h2>
<h3> <%= @event.event_description %></h3>

<h3>Who is comming:</h3>
<h2> Organizer: <%= link_to @event.user.first_name, visitors_event_user_path(id: @event.user.id, event_id: @event.id) %></h2>




<%= link_to "Continue Looking", visitors_events_path %>

<%# simple_form_for @request, url: visitors_event_requests_path(@event) do |f| %>
  <%# f.input :user_id, as: :hidden, input_html: { value:  @user.id } %>
  <%# f.submit "Chat" %>
<%# end %>
<% if @request %>
  <%= link_to "chat", visitors_request_messages_path(@request) %>
<% else %>
  <%= simple_form_for Request.new, url: visitors_event_requests_path(@event) do |f| %>
    <%= f.input :user_id, as: :hidden, input_html: { value:  @user } %>
    <%= f.submit "Chat" %>
  <% end %>
<% end %>
