<div
  id="map"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-user_markers="<%= @user_markers.to_json %>"

></div>

<div class="show-bottom">
  <h1> <%= @event.location_name %> </h1>
  <p> Where??</p>
  <h2> <%= @event.location_address %> </h2>
  <p>When??</p>
  <h2> <%= @event.time.strftime("%H:%M") %> </h2>
  <p>What??</p>
  <h2> <%= @event.event_description %></h2>
  <p>Who is comming:</p>
  <h2> Organizer: <%= link_to @event.user.first_name, visitors_event_user_path(id: @event.user.id, event_id: @event.id) %></h2>
</div>
<div class="continue-btn">
  <%= link_to "Continue Looking", visitors_events_path %>
</div>
<%# simple_form_for @request, url: visitors_event_requests_path(@event) do |f| %>
<%# f.input :user_id, as: :hidden, input_html: { value:  @user.id } %>
<%# f.submit "Chat" %>
<%# end %>
<% if user_signed_in? %>
  <% if @request %>
<!--     I have already made a request
    In my DB, there is a request with my current user ID AND the event page I am right now ID
    @event.requests.where('requests.user_id = ?', current_user.id)
    Request.where(user_id: current_user.id, event_id: @event.id)
    Request.where(user: current_user, event: @event)
    I get redirected to the chat room -->

    <span>Chatbox: <%= @request.id  %></span>
    <%= link_to "chat", visitors_request_messages_path(@request), class: "btn-submit-black" %>
  <% else %>
    <%= simple_form_for Request.new, url: visitors_event_requests_path(@event) do |f| %>
      <%= f.input :user_id, as: :hidden, input_html: { value:  @user } %>
      <%= f.submit "Join the event!", class: "btn-submit-black" %>
    <% end %>
  <% end %>
<% else %>
    <%=  link_to "Sign In to Join the Event", new_user_session_path,  class: "btn-submit-black" %>
<% end %>
